<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Invoice date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.sort_by{ |i| i.image.filename.to_json }.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.image.filename.to_json %></td>
        <td><%= invoice.type %></td>
        <td><%= invoice.invoice_date %></td>
        <td><%= invoice.calculate_amount %></td>
        <td><%= invoice.check_calculations %></td>
        <td><%= link_to 'Show', invoice_path(invoice) %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice_path(invoice), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= image_tag(invoice.image, width: 200) if invoice.image.attached? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
